%container {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;

  @media screen and (min-width: 420px) {
    padding: 0 1rem;  
  }
  @media screen and (min-width: 768px) {
    padding: 0 1.5rem;  
  }
  @media screen and (min-width: 1024px) {
    padding: 0 2rem;  
  }
}

%flex-container {
  width: 100%;
  margin: 0 auto;
  padding: 0.25rem;
  display: flex;

  @media screen and (min-width: 420px) {
    padding: 0.5rem;  
  }
  @media screen and (min-width: 768px) {
    padding: 0.725rem;  
  }
  @media screen and (min-width: 1024px) {
    padding: 1rem;  
  }
}

%flex-item {
  padding: 0.25rem;

  @media screen and (min-width: 420px) {
    padding: 0.5rem;  
  }
  @media screen and (min-width: 768px) {
    padding: 0.725rem;  
  }
  @media screen and (min-width: 1024px) {
    padding: 1rem;  
  }
}