@use './placeholders/layout.scss';

.site-header {
	@extend %container;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	flex-wrap: wrap;
	border-bottom: 1px solid #f2f3f4;
	min-height: 70px;
}

.site-branding {
	flex-shrink: 0;
  padding: 7px 0;
}