@use 'var';

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.site-main .post-navigation {
	position: sticky;
	bottom: 2rem;
	width: 100%;
	padding: 0 2rem;
	@media screen and (max-width: 420px) {
		padding: 0 0.5rem;
	}
}

.nav-links {
	display: flex;
	justify-content: space-between;



}

// tag links
.entry-meta > a {
	display: inline-block;
	margin: 0;
	padding: 0.5rem 0.5rem;
	border: 1px solid #f2f3f4;
	margin-bottom: 0.1rem;
}

.entry-meta a,
.nav-links a {
	text-decoration: none;
	color: inherit;
}

.publication-date {
	padding: 1rem 0;
	display: flex;

	.icon {
		margin-right: 0.5rem;
	}
}

.nav-links a {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.5);
	transition: 0.2s;
	border: 1px solid transparent;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a:focus {
	background-color: #ffffff;
	border: 1px solid rgb(0, 0, 0);
}


.nav-links .post-title {
  display: none;
  @media (min-width: 680px) {
    display: inline;
  }
}

.nav-small {
  @media (min-width: 680px) {
    display: none;
  }
}

.nav-next {
	margin-left: auto;
}
