@use 'var';

.main-navigation {
	display: flex;
	position: relative;
  align-self: center;
  
  @media (min-width: 680px) {
    margin-left: auto;
		margin-right: 1.5rem;
  }
  
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    justify-content: flex-end;
	  align-items: stretch;

    @media (min-width: 680px) {
      display: flex;
    }

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
	      top: 0;
      }

      li:hover > ul, li.focus > ul {
        left: 100%;
      }

      a {
        width: 200px;
      }

    }

    li:hover > ul, li.focus > ul {
      left: auto;
    }
  }

  li {
    float: left;
	  position: relative;
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
    text-transform: uppercase;

    &:hover, &:focus, &:active {
      color: var.$accent;
      text-decoration: underline;
    }
  }

  &.toggled {
    ul {
      display: flex;
      flex-direction: column;
      width: calc(100vw - 5rem);

      @media (max-width: 420px) {
        display: flex;
        flex-direction: column;
        width: calc(100vw - 2rem);
      }
    }
    a {
      text-align: center;
	    padding: 1.4rem 0;
    }
  }
}

.menu-toggle {
  display: flex;
	flex-direction: column;
  width: calc(100vw - 5rem);

  @media (min-width: 37.5em) {
    display: none;
  }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.site-main .post-navigation {
	position: sticky;
	bottom: 2rem;
	width: 100%;
	padding: 0 2rem;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

// tag links
.entry-meta > a {
	display: inline-block;
	margin: 0;
	padding: 0.5rem 0.5rem;
	border: 1px solid #f2f3f4;
	margin-bottom: 0.1rem;
}

.entry-meta a,
.nav-links a {
	text-decoration: none;
	color: inherit;
}



.nav-links a {
	display: inline-block;
	padding: 0.5rem 1rem;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.5);
	transition: 0.2s;
	border: 1px solid transparent;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a:focus {
	background-color: #ffffff;
	border: 1px solid rgb(0, 0, 0);
}

.nav-previous a {
	transform-origin: left center;
}

.nav-next a {
	transform-origin: right center;
}

.nav-links .post-title {
  display: none;
  @media (min-width: 680px) {
    display: inline;
  }
}

.nav-small {
  @media (min-width: 680px) {
    display: none;
  }
}

