.portfolio {
  // check below styles in header and footer
	max-width: calc(1320px + 5rem);
	margin: 0 auto;
	padding: 0 2rem;
	
	@media (max-width: 420px) {
		padding: 0 0.5rem;
	}
  
  &__title {
    text-align: center;
    text-transform: uppercase;
		font-size: 5rem;
		
		@media (max-width: 1400px) {
			font-size: 4rem;
		}
		@media (max-width: 995px) {
			font-size: 3rem;
		}
		@media (max-width: 768px) {
			margin-bottom: 5rem;
		}
		@media (max-width: 640px) {
			font-size: 2.5rem;
			margin-bottom: 2rem;
		}
		@media (max-width: 420px) {
			font-size: 1.75rem;
		}
	}
	
	&__description {
		max-width: 650px;
		margin: 0 auto;
		margin-bottom: 2rem;
		font-size: 1.25rem;
		@media (max-width: 1400px) {
			font-size: 1.125rem;
		}
		@media (max-width: 640px) {
			font-size: 1rem;
		}
	}

  &__list {
    margin: 0;
	  padding: 0;
	  list-style: none;
  	counter-reset: list;
	}
	
	&__item {
		position: relative;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		padding: 3rem;
		margin-bottom: 8rem;


		@media (max-width: 1024px) {
			padding: 1rem;
		}

		@media (max-width: 995px) {
			padding: 0;
		}

		@media (max-width: 640px) {
			margin-bottom: 4rem;
		}

		@media (max-width: 480px) {
			margin-bottom: 3rem;
		}

		&::before {
			z-index: 12;
			counter-increment: list;
			content: counter(list, decimal-leading-zero);
			position: absolute;
			transform: translateY(-50%);
			right: 0;
			font-size: 10rem;
			line-height: 1;
			font-weight: 900;
			color: rgba(0, 0, 0, 0.175);

			@media (max-width: 1024px) {
				font-size: 7rem;
				transform: translate(10%, -50%);
			}
			@media (max-width: 640px) {
				font-size: 5rem;
			}
			@media (max-width: 480px) {
				display: none;
			}
		}

		&:nth-child(even) {
			&::before {
				right: auto;
				left: 0;

				@media (max-width: 1024px) {
					transform: translate(-10%, -50%);
				}
			}
		} 
	}

	&__loadmore {
		margin-bottom: 1rem;
		display: flex;
		justify-content: center;
	}
}
