@use './mixins/backdrop.scss';

.project {
	margin: 0;
  display: block;
  
  @media (min-width: 1024px) {
    width: 80%;
  }

  @media (min-width: 1400px) {
    width: 75%;
  }
  
  &__link {
    display: block;
    &:hover {
      text-decoration: none;
    }
  }

  &__title {
    margin: 0 0 1rem 0;
    padding: 0.125rem 1rem;
    border-left: 10px solid #f47521;
    font-size: 1.5rem;
    background-color: rgba(255, 232, 217, 0.85);
    
    @media (min-width: 640px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      position: absolute;
      z-index: 10;
      top: 30%;
      left: 0;
      margin: 0;
      font-size: 2.5rem;
      max-width: 60%;
      @include backdrop.blur(5px, rgba(255, 232, 217, 0.5));
    }

    @media (min-width: 1400px) {
      font-size: 3rem;
      max-width: 50%;
    }

    .portfolio__item:nth-child(even) & {
      @media (min-width: 480px) {
        border-left: none;
        border-right: 10px solid #f47521;
        text-align: right;
      }
      @media (min-width: 1024px) {
        right: 0;
        left: auto;
      }
    }
  }

  &__excerpt {
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;

    @media (min-width: 640px) {
      font-size: 1.125rem;
    }

    @media (min-width: 1024px) {
      position: absolute;
      bottom: 0;
      left: 20%;
      transform: translateY(30%);
      background-color: rgba(255, 255, 255, 0.9);
      @include backdrop.blur(5px, rgba(255, 255, 255, 0.6));
      padding: 2rem;
      max-width: 40rem;
    }

    @media (min-width: 1400px) {
      font-size: 1.25rem;
    }

    & span {
			margin-bottom: 1rem;
		}
  }

  &__image {
    width: 100%;
  }
}
