@use './placeholders/layout.scss';

.project-row {
  @extend %flex-container;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
  align-items: flex-start;
  max-width: 2000px;
  margin: 0 auto;

}

.project-right-column {
  @extend %flex-item;
  flex: 1 0 100%;

  @media (min-width: 1025px) {
    flex: 1 0 65%;
  }

  p {
    margin-top: 0;
    max-width: 720px;


    @media (min-width: 1025px) {
      
      // margin-left: 10rem;
    }
  }

  img {
    box-shadow: 0 1px 3px rgba(0,0,30,.3);
  }

  .entry-content {
    margin: 0;
    // do we need this!!???
    &.in-archive > p {
      display: none;
    }
  }
}

.project-left-column {
  @extend %flex-item;
	flex: 1 0 100%;
  top: 1rem;

  
  @media (min-width: 1025px) {
    min-width: 240px;
		flex: 1 0 35%;
		position: sticky;
		top: 1rem;
		max-width: 320px;
  }

  h1, h2 {
    background-color: #ffe8d9;
    border-left: 10px solid #f47521;
    padding: 10px;
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  .entry-header > p {
    padding: 10px 10px;
	  background-color: #f2f3f4;
  }
}
