@mixin backdrop-blur($blur, $color) {
  @supports (backdrop-filter: none) {
    background-color: $color;
    backdrop-filter: blur($blur);
  }
}

.project {
	margin: 0;
	display: flex;
  width: 70%;

  @media (max-width: 1400px) {
    width: 75%;
  }

  @media (max-width: 1024px) {
    width: 85%;
  }

  @media (max-width: 768px) {
    display: block;
		width: 100%;
  }
  
  &__link:hover {
    text-decoration: none;
  }

  &__title {
    z-index: 10;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 0;
    font-size: 3rem;
    max-width: 50%;
    text-transform: capitalize;
    transition: transform 0.8s ease-in-out;
    background-color: rgba(255, 232, 217, 0.85);
    border-left: 10px solid #f47521;
    padding: 0.125rem 1rem;
    @include backdrop-blur(5px, rgba(255, 232, 217, 0.5));

    @media (max-width: 1400px) {
      font-size: 2.5rem;
    }

    @media (max-width: 995px) {
      max-width: 60%;
		  font-size: 2rem;
    }

    @media (max-width: 768px) {
      position: relative;
      max-width: 100%;
      margin-bottom: 1rem;
      top: auto;
      transform: none;
    }

    @media (max-width: 640px) {
      font-size: 1.5rem;
    }
    
    .portfolio__item:nth-child(even) & {
      right: 0;
      left: auto;
      border-left: none;
      border-right: 10px solid #f47521;

      @media (max-width: 768px) {
        text-align: right;
      }

      @media (max-width: 480px) {
        text-align: left;
		    border-right: none;
		    border-left: 10px solid #f47521;	
      }
    }
  }

  &__excerpt {
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    font-size: 1.25rem;
    width: 40%;
    left: 30%;
    bottom: 0;
    padding: 2rem;
    transform: translateY(30%);
    background-color: rgba(255, 255, 255, 0.9);
    transition: transform 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    @include backdrop-blur(5px, rgba(255, 255, 255, 0.6));

    @media (max-width: 1400px) {
      font-size: 1.125rem;
      width: 50%;
      left: 25%;
    }

    @media (max-width: 1024px) {
		  width: 60%;
		  left: 20%;
    }

    @media (max-width: 995px) {
      padding: 1.5rem;
      width: 80%;
      left: 10%;
    }

    @media (max-width: 768px) {
      position: relative;
      width: 100%;
      transform: none;
      left: auto;
      bottom: auto;
      padding: 0;
    }

    @media (max-width: 640px) {
      font-size: 1rem;
    }

    & span {
			margin-bottom: 1rem;
		}
  }

  &__image {
    width: 100%;
  }
}