$bg-main: #ffffff;
$text-main: #404040;
$text-light: #ffffff;
$bg-accent-ligth: #ffe8d9;
$accent: #f47521;

$timeline-axis: #eeeeee;
$timeline-badge: #999999;
$timeline-angle: #cccccc;
$font: "Roboto", sans-serif;